<!DOCTYPE html>
<html>
	<head>
		<title>Welcome page</title>
	</head>

	<body>
		      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container1">
          <hk class="display-3">Salut Monde!</hk> <br>
          <pk>This is a template for a simple marketing or informational 
website. It includes a large callout called a jumbotron and three 
supporting pieces of content. Use it as a starting point to create 
something more unique.</pk>
          <pk><a class="btn btn-primary btn-lg" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/" role="button">Learn more »</a></pk>
        </div>
      </div>
		<div class='image'>
		<%= image_tag("website.jpg", :alt => "on trinque?") %>
	</div>
	</body>

</html>