<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
</head>


<body>

<h1 class='titre'> Dreamteam!</h1>
<p class='content'> Bienvenue sur la page de présentation de la team ! </p>

<p> Alors vu qu'à Strasbourg on aime partager, sache que chaque membre de notre team est là pour aider lorsqu'un moussaillon se retrouve en difficulté... Il n'y a donc pas à proprement parlé de pair-learning, mais plutôt du team-learning ! 

Il nous arrive même de faire du Beer-learning, c'est pas mal aussi de temps en temps, une bonne bière ça détend !</p>
<div class='illustration'>
<%= image_tag("biere.png", :alt => "on trinque?") %>
</div>

</body>
</html>


