<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>


</head>
<body>


<h1 class='titre'> Nous contacter !</h1>
<p> Voici comment contacter notre team de folie ! </p>
<p>par mail : strasbourg.rpz@gmail.com </p>

<p>ou alors tu peux également nous laisser un message via le formulaire ci-dessous: </p>
<br>

<h3>Formulaire de contact</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">Ton prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Ton nom</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="city">Ta ville</label>
    <select id="city" name="city">
      <option value="paris">Tana</option>
      <option value="marseille">Tamaga</option>
      <option value="borbeaux">Toulouse</option>
      <option value="lille">Janga</option>
      <option value="montpellier">Fianara</option>
      <option value="autre">Autre...</option>
    </select>

    <label for="subject">ton message</label>
    <textarea id="subject" name="subject" placeholder="Ecrit quelque chose.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>


</body>

</html>